@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
  padding: 0 auto;
  --main-font1: "Work Sans", sans-serif;
  --main-font2: "Poppins", sans-serif;
  --green: rgb(75, 161, 72);
  --red: rgb(223, 73, 73);
  --button-boxShadow: 1px 2px 2px rgb(85, 83, 83);
}
