header {
  font-family: var(--main-font1);
  background-color: #d9d9d9;
  height: 250px;
}

.main-title {
  padding-top: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 10px;
}

.main-title b {
  font-weight: 600;
  color: #e82d2d;
}

.nav {
  margin-top: 80px;
}

.ul-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.li-nav {
  font-size: 30px;
  letter-spacing: 5px;
}

.link-style {
  text-decoration: none;
  color: black;
}

.link-style:hover {
  color: #e82d2d;
}

@media screen and (max-width: 500px) {
  .li-nav {
    font-size: 18px;
    text-decoration: underline 2px #968f8f;
    text-underline-offset: 2px;
  }
  .li-nav:hover {
    text-decoration: underline 2px #e82d2d;
  }
}
