.main {
  background-color: white;
  font-family: var(--main-font1);
  margin-bottom: 70px;
}

.vegetables-img-container {
  background-image: url("../assets/vegetables.jpg");
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-title-div {
  padding-top: 20px;
  padding-bottom: 50px;
}

.home-title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  text-align: center;
}

.random-recettes {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.selection-div {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.single-recette {
  width: 50%;
  margin-bottom: 20px;
}

.reload-btn-container {
  display: flex;
}

.reload-btn {
  margin-bottom: 20px;
  height: 20px;
  border: none;
  border-radius: 0.4rem;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .home-title-div {
    padding: 50px;
  }
  .random-recettes {
    margin-bottom: -30px;
    padding: 75px;
  }
  .reload-btn {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .vegetables-img-container {
    height: 300px;
  }
}
