.form-elements {
  background-color: #d9d9d9;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-container {
  margin-top: 50px;
}

.title-recette,
.ingredients,
.ingredient {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.add-btn,
.remove-btn {
  margin-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  border: none;
  border-radius: 0.4rem;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.add-btn {
  background-color: rgb(20, 139, 20);
}

.remove-btn {
  background-color: rgb(247, 56, 56);
}

input {
  height: 30px;
  width: 70%;
  border: none;
  border-radius: 0.4rem;
  font-family: var(--main-font1);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

textarea {
  border: none;
  border-radius: 0.4rem;
  width: 300px;
  height: 150px;

  padding: 10px;
  font-family: var(--main-font1);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.input-div input {
  min-width: 300px;
}

.label {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ingredient-input,
.title-input {
  padding-left: 10px;
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
}

.submitBtn {
  margin-top: 20px;
  margin-bottom: 50px;
  border: none;
  border-radius: 0.4rem;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #7c7676;
}

@media screen and (min-width: 1000px) {
  textarea {
    width: 800px;
    height: 200px;
  }
  input {
    width: 800px;
  }
}
