.description-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.description-info {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  font-style: italic;
  font-size: 14px;
  color: var(--red);
}

.form-container {
  margin-top: 50px;
}

.category-input {
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 0.4rem;
  font-family: var(--main-font1);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.title-recette,
.ingredients,
.ingredient {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.add-btn,
.remove-btn {
  margin-bottom: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0.4rem;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  font-family: var(--main-font1);
}

.add-btn {
  background-color: var(--green);
  box-shadow: var(--button-boxShadow);
  transition: 0.3s ease;
}

.add-btn:hover {
  color: rgb(219, 219, 219);
  filter: brightness(110%);
  transform: translateX(1px) translateY(1px);
}

.remove-btn {
  background-color: var(--red);
  box-shadow: var(--button-boxShadow);
  transition: 0.3s ease;
}

.remove-btn:hover {
  color: rgb(219, 219, 219);
  filter: brightness(110%);
  transform: translateX(1px) translateY(1px);
}

input {
  height: 30px;
  width: 290px;
  border: none;
  border-radius: 0.4rem;
  font-family: var(--main-font1);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

textarea {
  border: none;
  border-radius: 0.4rem;
  width: 290px;
  height: 150px;
  padding: 10px;
  font-family: var(--main-font1);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.input-div input {
  min-width: 290px;
}

.label {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ingredient-input,
.title-input {
  padding-left: 10px;
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
}

.submitBtn {
  margin-top: 20px;
  margin-bottom: 50px;
  border: none;
  border-radius: 0.4rem;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #7c7676;
  transition: 0.3s ease;
  box-shadow: var(--button-boxShadow);
  font-family: var(--main-font1);
}

.submitBtn:hover {
  background-color: var(--green);
  color: white;
  filter: brightness(110%);
  transform: translateX(1px) translateY(1px);
}

@media screen and (min-width: 1000px) {
  textarea {
    width: 800px;
    height: 200px;
  }
  input {
    width: 800px;
  }
}
