.main {
  z-index: 1;
  max-width: 1000px;
}

.selector-div {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin-top: 50px;
}

.dish-selector {
  width: 80%;
  height: 30px;
  padding-left: 20px;
  -webkit-appearance: none;
  background-image: url("../assets/dropdown2.png");
  background-repeat: no-repeat;
  background-position: calc(100% + 4px) center;
  background-size: 35px;
  cursor: pointer;
  border: 2px solid rgb(116, 116, 116);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
}

.dish-selector option {
  width: 80%;
}

.description-title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
}
.category-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
}

.entrees-div,
.plats-div,
.desserts-div {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.single-recette {
  width: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .category-title {
    font-size: 30px;
    padding: 50px;
    text-align: center;
  }
  .single-recette {
    margin-bottom: 75px;
  }
}
